%h2 Editing #{@snippet.title || @snippet.code}

= form_for @snippet, :url => snippet_path(@snippet.code) do |f|
	= f.text_field :title, :placeholder => "Snippet Title"
	= f.text_field :desc, :placeholder => "Snippet Description"
	= f.text_area :content, :placeholder => "Enter your code here..."
	.snippet_extra
		= f.select :language, [['Ruby', 'ruby'], ['JavaScript', 'javascript'], ['PHP', 'php'], ['Text', 'text'], ['HTML', 'html'], ['CSS', 'css']]
		= f.submit 'Edit'