%p#notice= notice

%p
  %b User:
  = @snippet.user_id
%p
  %b Content:
  = @snippet.content
%p
  %b Language:
  = @snippet.language
%p
  %b Code:
  = @snippet.code

= link_to 'Edit', edit_snippet_path(@snippet)
\|
= link_to 'Back', snippets_path
