%p.title= @snippet.title
%p.desc= @snippet.desc

%pre
	= raw Pygments.highlight(@snippet.content, lexer: @snippet.language)

%p.extra
	Snippet created by #{@snippet.user.name} at #{@snippet.created_at.strftime("%d %b %y - %H:%M")}.