%h2.title #{@snippet.title}  #{link_to "Edit", edit_snippet_path(@snippet.code), :class => "edit_link" if @snippet.user == current_user}
%h3.desc= @snippet.desc

%pre
	= raw Pygments.highlight(@snippet.content, lexer: @snippet.language)

%p.extra
	Snippet created by #{@snippet.user.name} at #{@snippet.created_at.strftime("%d %b %y - %H:%M")}.