%h2 Home!

%p new snippet.
%p if you aren't logged in, it will redirect you

= form_for @new_snippet do |f|
	.field
		= f.label :content
		= f.text_area :content
	.field
		= f.label :language
		= f.text_field :language
	.actions
		= f.submit 'Save'
