- if current_user
	= form_for @new_snippet do |f|
		= f.text_area :content, :placeholder => "enter your code here..."

		.snippet_extra
			/ = f.text_field :language
			= f.select :language, [['Ruby', 'ruby'], ['JavaScript', 'javascript'], ['PHP', 'php'], ['Text', 'text'], ['HTML', 'html'], ['CSS', 'css']]
			= f.submit 'Save'

- else
	.welcome
		%h1 Welcome to Sniply!
		%h2 Sniply is a quick snippet sharing site.

		%h2.login Login with #{link_to "Twitter", "/auth/twitter"} to get started!
		/ %h1 Sniply is for Simple Snippet Sharing